.menu {
  border-bottom: 3px double #767676;
  border-top: 3px double #767676;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  white-space: nowrap;
}

.menu p {
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
  line-height: normal;
  font-size: 15px;
  font-weight: bold;
  color: #1ea500;
}

.menu nav {
  float: right;
  font-size: 0;
  height: 100%;
}

.menu nav a {
  display: inline-block;
  vertical-align: middle;
  color: #000000;
  text-decoration: none;
  padding: 0 10px;
  height: 100%;
  line-height: 50px;
  font-size: 14px;
}

.menu nav a.active {
  color: #1ea500;
  border-right: 3px double #767676;
  border-left: 3px double #767676;
}

.gallery {
  font-size: 0;
  width: 100%;
  margin-top: 16px;
}

.gallery-column {
  display: inline-block;
  vertical-align: middle;
}

.gallery-column--left {
  width: 65%;
}

.gallery-column--right {
  width: 35%;
}

.gallery-column img {
  display: block;
  width: 100%;
}

.content {
  font-size: 0;
  width: 100%;
  margin-top: 24px;
}

.cards {
  display: inline-block;
  width: 65%;
}

.card {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin: 1%;
  padding: 16px;
  border-radius: 16px;
  font-size: 14px;
  box-sizing: border-box;
  border: 2px solid #d0d0d0;
}

.card_image {
  border-radius: 20px;
}

.card_image img {
  width: 100%;
  /* Раскоментить */
  height: 160px;
  object-fit: cover;
  object-position: top;
}

.card p {
  margin: 0 0 12px;
  color: #333;
}

.card_text {
  padding-top: 10px;
  font-size: 14px;
  text-align: justify;
}

.card_text strong {
  display: block;
  font-size: 18px;
  text-align: center;
  margin-bottom: 8px;
}

.card_etc_left,
.card_etc_right {
  margin-top: 12px;
}

.card_etc_right {
  text-align: right;
}

.card_etc_left a,
.card_etc_right a {
  color: brown;
}

.sidebar {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  padding: 40px 8px 16px;
  border-left: 2px solid #aaa;
}

.sidebar-item {
  margin-bottom: 20px;
}

.sidebar-item_text {
  display: inline-block;
  vertical-align: middle;
  width: 58%;
  font-size: 14px;
  text-align: right;
}

.sidebar-item_text strong {
  font-size: 18px;
}

.sidebar-item_image {
  display: inline-block;
  vertical-align: middle;
  width: 42%;
}

.sidebar-item_image img {
  border-radius: 8px;
}

.sidebar-btn {
  display: inline-block;
  background-color: #2196f3;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  padding: 4px 12px;
  border-radius: 5px;
  border: 1px solid #000000;
}

.footer {
  margin-top: 32px;
  padding: 14px 16px;
  border-top: 3px double #767676;
  font-size: 13px;
  color: #555;
  text-align: center;
}
